{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if my_tasks|length > 0 %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Is Completed</th>
                </thead>
                <tbody>
                    {% for task in my_tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date}}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{"task.is_completed" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
            </div>
        </main>
{% endblock content %}
